.new-title {
    color: #333;
    font-size: 15px;
    text-align: justify;
    font-family: Arial;
    padding-left: 0px !important;
}

.new-title > span:hover {
    color: #DF0101;
}

.new-title > #date{
    color: #585858;
    font-size: 13px;
    float: right !important;
}

.item-new {
    margin-top: 15px;
}

@media (max-width: 960px) {
    #div-new {
        display: none;
    }
}
#div-new {
    background-color: #F9F9F9;
}
